.loadingContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 20px;
    


}

.loading{
    height: 200px;
    width: 200px;
    background-color: gray;
    /* border: 2px solid black; */
    
}